# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Local Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Sensitive Files
firebase-service-account.json

# Dependencies
/node_modules
/dashboard/node_modules

# Build Directory
/out/
/.next/
/dashboard/lib

# IDEs and Editors
.idea
.vscode/
*.swp
*.swo

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# OS-specific
.DS_Store
Thumbs.db
